<div class="exclusive-band upload-photo-band text-center">
	<p class="text-center">
		<img src="images/flower-tick.png" alt="Default Upload Photo">
	</p>
	<p>Welcome to Brahminshubhakalyaan.com</p>
	<span>You have successfully registered with BrahminShubhakalyaan</span>
	<div class="verify-number-profile-block">
		<p>Your Matrimony ID is</p>
		<p class="verify-profile-id">BSK048506</p>
		<p class="no-margin">Keep me logged in (Recommended). Stay logged in always with BrahminShubhakalyaan</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center verify-number-block">
			<h3>Verify your Mobile number</h3>
			<p>You will receive a 6-digit confirmation code vis <strong>sms</strong> to <strong>9030190669</strong> (<a href="javascript:void(0)">Edit</a>)</p>
			<div class="otp-number clearfix">
				<input type="text" name="mobileNumber" placeholder="Enter 6 digit code">
				<a href="javascript:void(0)" class="text-uppercase">Verify</a>
			</div>
			<p>Didn’t receive code yet? <a href="javascript:void(0)">Resend code</a></p>
		</div>
	</div>
</div>