<div class="exclusive-band partner-preference-band text-center">
	<p>Desired Partner Proferences</p>
	<span>We have set some Partner Preferences for you based on your profile information. Please edit your partner Preferences.</span>
</div>
<div class="container">
	<div class="row">
		<div class="partner-preference-block">
			<h3 class="partner-preference-title">Basic &amp; Religion Preferences</h3>
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div class="preference-block">
					<p><strong>Note:</strong> The fields including Preferred Age, Marital Status, Height, Physical Status, Religion, Caste, Manglik, Eating Habbits, Mother Tounge, Country Living In. Citizenship and Education makes your basic partner preference based on which you will receive daily matches. Profiles that match all the fields below will bw tagged as "Preferred Match" in the mailer and across the site.</p>
					<h4>
						<span>Basic Details</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Age</label>
									<span>22 - 29 years</span>
								</li>
								<li>
									<label>Height</label>
									<span>5 Ft 7 In / 170 cm</span>
								</li>
								<li>
									<label>Mother Tounge</label>
									<span>Telugu</span>
								</li>
								<li>
									<label>Smoking Habits</label>
									<span>Doesn’t matter</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Eating Habits</label>
									<span>Any</span>
								</li>
								<li>
									<label>Marital Status</label>
									<span>Never married</span>
								</li>
								<li>
									<label>Physical Status</label>
									<span>Normal</span>
								</li>
								<li>
									<label>Drinking Habits</label>
									<span>Doesn’t matter</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Religion Information</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<ul>
								<li>
									<label>Religion</label>
									<span>Hindu</span>
								</li>
								<li>
									<label>Caste / Sub-caste</label>
									<span>Brahmin - Niyogi</span>
								</li>
								<li>
									<label>Gothrom</label>
									<span>All (Except my gothra)</span>
								</li>
								<li>
									<label>Star / Rassi</label>
									<span>Any Star</span>
								</li>
								<li>
									<label>Dosham</label>
									<span>Doesn’t matter</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Location Preference</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Country</label>
									<span>India</span>
								</li>
								<li>
									<label>State</label>
									<span>Andhra Pradesh / Telengana</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>City</label>
									<span>Any city</span>
								</li>
								<li>
									<label>Citizenship</label>
									<span>Indian</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Professional Information</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<ul>
								<li>
									<label>Education</label>
									<span>Any Degree in Enginering / Computers, Any Bachelors in Medicine in General / Dental / Surgeon. Any master in Medicine - General / Dental / Surgeon, Any Master in Arts/Science/Commerce, Any Bechelor in Management. ANy Bechlors in Legal Law.</span>
								</li>
								<li>
									<label>Ocupation</label>
									<span>Any ocupation</span>
								</li>
								<li>
									<label>Annual Income</label>
									<span>Any Income</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>What I am looking for</span>
						<a href="javascript:void(0)">Add</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<ul>
								<li>
									<label>Not specified.</label>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="confirm-red-btn clearfix">
					<a href="javascript:void(0)" class="fright xs-full-width">Looks Good, Proceed</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<div class="partner-preference-tiles">
					<div class="white-tile add-details-tile">
						<h4 class="white-tile-title text-center">Add details to your profile</h4>
						<div class="add-details-options-tile clearfix">
							<img src="images/add-more-photo-camera-icon.png" alt="Photos icon">
							<span class="fleft">Add more photos now and get more responses. <strong>(+25%)</strong></span>
						</div>
						<div class="add-details-options-tile clearfix">
							<img src="images/add-more-family-details-icon.png" alt="Family Deatils icon">
							<span class="fleft">Add more family details and get more responses. <strong>(+20%)</strong></span>
						</div>
						<div class="add-details-options-tile clearfix">
							<img src="images/add-more-horoscope-details-icon.png" alt="Horoscope Details icon">
							<span class="fleft">Add horoscope and get more responses. <strong>(+15%)</strong></span>
						</div>
					</div>
					<div class="tablet-view-tiles clearfix">
						<div class="color-tiles family-details-tile text-center">
							<img src="images/family-details-tile-icon.png" alt="Horoscope Icon">
							<p>Add Family Details</p>
							<span>Find partner to match  your family values</span>
							<a href="javascript:void(0)">Add Preferences </a>
						</div>
						<div class="color-tiles horoscope-tile text-center">
							<img src="images/horoscope-tile-icon.png" alt="Horoscope Icon">
							<p>Add Horoscope</p>
							<span>Add horoscope details</span>
							<a href="javascript:void(0)">Add Horoscope</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>