/******** Information Styles ********/
.exclusive-band {background-color: #95c22b; color: #fff; padding: 20px 15px 10px;}
.exclusive-band p {font-family: 'poppinsmedium'; font-size: 20px; line-height: 20px;}
.exclusive-band span {color: #c0ed55;}

.information-block {margin-top: 30px;}
.info-header {padding-bottom: 13px; color: #40413c; line-height: 32px;}
.info-header-icon {background-image: url('../images/user-icon.png'); background-repeat: no-repeat; background-position: left top; margin-right: 15px; width: 32px; height: 32px; float: left;}
.info-header-title {font-size: 18px; font-family: 'poppinssemibold';}

.info-body {background-color: #fff; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-bottom: 25px; padding: 30px 30px 10px;}

.info-option {margin-bottom: 30px;}
.info-option-title {display: block; margin-bottom: 10px; font-family: 'poppinsmedium'; color: #40413c; font-weight: 500;}
.info-option-component .ct-radio-box {min-width: 97px;}

.better-responses-text {color: #95c22b; font-size: 12px; font-family: 'poppinslight'; line-height: 32px;}

.info-option-title-hint {color: #c5c7b8; font-size: 12px; font-family: 'poppinslight';}

.info-option-component {padding: 0;}

.info-option-double-component .info-option-component:first-child {padding-right: 8px;}
.info-option-double-component .info-option-component:last-child {padding-left: 8px;}
.info-option-triple-component .info-option-component:first-child {padding-right: 12px;}
.info-option-triple-component .info-option-component:last-child {padding-left: 12px;}

.lifestyle-icon {background-image: url(../images/lifestyle-info-icon.png);}
.religious-icon {background-image: url('../images/religious-icon.png');}
.family-information-icon {background-image: url('../images/family-info-icon.png');}

.info-option-component.info-option-location {padding: 8px 0 0;}
.info-option-component.info-option-location .ct-radio {margin-left: 30px;}
.info-option-component.info-option-location .ct-radio:first-child {margin: 0;}

.why-register-block {background-color: #edf2df; padding: 30px 12px; margin: 76px 0 30px;}
.register-title {border-bottom: 3px solid #95c22b; color: #40413c; font-family: "poppinssemibold"; font-size: 16px; line-height: 22px; margin-bottom: 20px; padding: 0 0 5px;}
.register-title span {font-family: "poppinsregular"; font-size: 14px; color: #7c7f73; display: block;}

.why-register-block ul li {margin-bottom: 32px; color: #973535;}
.why-register-block ul li:last-child {margin-bottom: 0;}
.why-register-block ul li p {font-family: "poppinssemibold"; font-size: 20px; margin-top: 20px; line-height: 20px;}
.why-register-block ul li p span {font-family: "poppinsregular"; font-size: 14px; display: block;}

.why-register-block ul li:nth-child(2) {color: #95c22b;}
.why-register-block ul li:last-child {color: #ffbe0f;}