/******** Input, Textarea, Select Styles ********/
.bs-select select, .bs-input input[type="text"], .bs-textarea textarea {border: 1px solid #dbddd2; border-radius: 3px; color: #c5c7b8; font-size: 14px; padding: 5px 10px; width: 100%;}
.bs-select select {padding: 7px 10px;}
.bs-select select:focus, .bs-input input:focus, .bs-textarea textarea:focus {border-color: #95c22a; outline: none;}
.bs-textarea textarea {height: 80px; resize: none;}

/******** Radio, Checkbox Styles ********/
.ct-radio, .ct-checkbox, .ct-radio-box, .ct-checkbox-box {float: left; margin-left: 13px; min-width: auto; position: relative;}
.ct-radio:first-child, .ct-checkbox:first-child, .ct-radio-box:first-child, .ct-checkbox-box:first-child {margin: 0;}

.ct-radio input[type='radio'], .ct-checkbox input[type='checkbox'], 
.ct-radio-box input[type='radio'], .ct-checkbox-box input[type='checkbox'] {position: absolute; visibility: hidden;}

.ct-radio-box input + label, .ct-checkbox-box input + label {background-color: #fcfcf9; border: 1px solid #dbddd2; border-radius: 3px; color: #6e6f68; cursor: pointer; display: inline-block; font-size: 13px; font-weight: 400; height: 32px; line-height: 20px; margin: 0; padding: 6px 12px; text-align: center; width: 100%; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.ct-radio-box input:checked + label, .ct-checkbox-box input:checked + label {background-color: #95c22a; color: #fff; border-color: #95c22a;}

.ct-radio input + label, .ct-checkbox input + label {font-weight: 400; margin: 0; display: block;}

.ct-radio input + label span {float: left; padding-top: 2px;}
.ct-radio input + label span.ct-radio-circle {border: 1px solid #d5d1cb; border-radius: 50%; width: 22px; height: 22px; margin-right: 12px; padding: 0;}
.ct-radio input + label span.ct-radio-circle.fa-check:before {content: "";}

.ct-radio input:focus + label span.ct-radio-circle {border-color: #ade10b;}
.ct-radio input:checked + label span.ct-radio-circle {border-color: #ade10b; background-color: #ade10b;}

.ct-radio input:checked + label span.ct-radio-circle.fa-check:before {content: "\f00c"; color: #fff; line-height: 20px; display: block; text-align: center;}