/******** Header Styles ********/
header {background-color: #fff; box-shadow: 0 8px 16px rgba(0,0,0, 0.2); min-height: 100px; position: relative; z-index: 9; border-top: 4px solid #90bd25; -webkit-border-image: -webkit-linear-gradient(linear, to right, #ffdd00, #90bd25) 1; -webkit-border-image: -webkit-linear-gradient(to right, #ffdd00, #90bd25) 1; -moz-border-image: -moz-linear-gradient(to right, #ffdd00, #90bd25) 1; -o-border-image: -o-linear-gradient(to right, #ffdd00, #90bd25) 1; border-image: linear-gradient(to right, #ffdd00, #90bd25) 1; }
header .logo {padding-left: 3px;}

/******** Top nav ********/
.navbar-brand {padding-top: 11px;}
.navbar, .navbar-brand {border-radius: 0; height: auto;}
.navbar-inverse .navbar-nav > li > a {color: #fff}
.navbar-toggle {margin-top: 33px;}
.navbar-default {background-color: transparent; border: none; margin-bottom: 0px}

.topRIghtForm {margin-top: 16px;}
.topRIghtForm input[type=text] {min-width: 250px; padding: 7px 10px; border: #e0e0e0 solid 1px; border-radius: 3px;}
.topRIghtForm li {padding-left: 15px;}
.topRIghtForm span.lebel {display: block; font-size: 11px; margin-bottom: 3px;}
.forgetLink {padding: 0px !important; font-size: 12px;}

/******** Static Header Styles ********/
.more-responses {padding-top: 36px;}
.more-responses p {font-size: 16px; font-family: 'poppinslight'; color: #40413c;}
.more-responses span {border-top: 3px solid #95c22b; min-width: 142px;}

/******** Footer Styles ********/
.footer-block {border-top: 1px solid #d3d8c7; padding: 26px 0 30px; font-size: 13px;}

.footer-links {padding: 6px 0;}
.footer-links ul li {float: left; margin-right: 40px;}
.footer-links ul li:last-child {margin-right: 0;}
.footer-links ul li a {color: #98232d;}
.footer-links ul li a:hover {color: #98232d; text-decoration: underline;}

.footer-social-links > span {color: #7c7f73; line-height: 32px; margin-right: 18px;}
.footer-social-links ul li {float: left; margin-left: 35px;}
.footer-social-links ul li:first-child {margin-left: 0;}

.copyright-block {background-color: #d6dac9; font-size: 11px; color: #7c7f73; padding: 10px 0 7px;}
.copyright-block a, .copyright-block a:hover {color: #7c7f73;}
.copyright-block a:hover{text-decoration: underline;}

/******** Media Query Styles ********/
@media(max-width: 991px) {
	.footer-links ul li {margin-right: 15px;}
	.footer-social-links > span {margin-right: 15px;}
	.footer-social-links ul li {margin-left: 15px;}
}

@media(max-width: 767px){
	header .logo .navbar-brand {width: 100%;}
	header .logo .navbar-brand img {margin: 0 auto;}
	header .more-responses {padding-top: 10px; padding-bottom: 20px;}
}

@media(max-width: 640px){
	.footer-block {padding: 8px 0;}
	.footer-links {padding: 6px 0 15px; width: 100%;}
	.footer-links ul li {margin-right: 20px;}
}

@media(max-width: 420px){
	.footer-links ul li {width: 100%; margin-right: 0; text-align: center; margin-bottom: 8px;}
}