/*Banner Main*/
.bannerMain{background:url(../images/homepage/banner.jpg) center center; background-size:cover; padding:0; text-align:center; min-height:500px; position: relative;}
.banner-main-box{width: 600px; position: absolute; bottom: 0;}
.banner-subtext{width: 100%; float: left; border-top: 3px solid #ffdd00; margin-top: 20px; padding: 15px 0; color: #fff; font-size: 24px; font-weight: 300;}
.banner-subtext span{font-weight: 500;}
.bannerBox{background: rgba(255, 255, 255, 0.2); border-radius:5px; min-height:75px; color:#fff; padding-top:55px; position:relative; text-transform:uppercase; padding-bottom: 10px;}
.bannerBox p{ font-size:12px;}
.circle{ position:absolute; left:0px; right:0px; margin:auto; width:82px; height:82px; top:-48px; border-radius:50%; line-height:80px; background: none;}
.bannerBox h2{ margin:0px;}
.forgetLink{text-align: right;}

.termsMain{ position:relative; padding-left:20px; margin-bottom: 0px; font-size: 12px;}
.termsMain input{ position:absolute; top:0px; left:0px;}
.genderM label{margin-bottom:0px; font-weight:normal}
.genderM .form-group{float:left; max-width: 150px; min-width: 65px; margin-bottom:0px }
.genderM input[type=radio]{margin: 4px 4px 0 0; float:left}
.bannerTextMain .item{line-height: 62px; padding-bottom: 20px;}
.bannerTextMain #quote-carousel1 .carousel-indicators{bottom: -30px;}
.termsMain a{color:#4496dc}

/*Form register*/
.mainFoam{width: 500px; float: right; position: absolute; right:60px; top:0; -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.4); -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.4); box-shadow: 0px 0px 10px rgba(0,0,0,.4);}
.mainFoam h3{text-align:center; color:#95c22b; background:#f3f4ec; margin:0px; padding:15px 0; font-size:30px; text-transform:uppercase; border-radius:0;}
.mainFoam .bodyContent{background:#fff; padding:30px; text-align:left;border-radius: 0;}
.bodyContent dl{margin-bottom:15px; display: table;content: " "; width: 100%;}
.bodyContent dt{ width:35%; float:left; font-weight:normal}
.bodyContent dd{ width:65%; float:left}
.icon-tag{position: relative;}
.icon-tag .form-icon-right{position: absolute; right: 10px; top: 10px; color: #ade10b; font-size: 16px;}

.form-mobile{position: absolute; left: 10px; top: 10px; color: #000; font-size: 12px; line-height: 20px;}
.form-mobile img{margin-top: -3px; margin-right: 3px;}
.bodyContent dd input::-webkit-input-placeholder {color: #c5c7b8;}
.bodyContent dd input::-moz-placeholder {color: #c5c7b8;}
.bodyContent dd input:-ms-input-placeholder {color: #c5c7b8;}
.bodyContent dd input:-moz-placeholder {color: #c5c7b8;}
.bodyContent dd select{color: #c5c7b8;}
.bodyContent .btnCus{margin: 0 auto; display: block;}
.bodyContent dt{line-height: 38px;}
.bodyContent dt.form-gender{line-height: 20px;}

.form100{ width:100%; border:#dbddd2 solid 1px; padding:8px 10px; font-size:14px; border-radius: 3px; background: #fff;}
.form50{ width:48%; float:left; border:#dbddd2 solid 1px; padding:8px 10px; font-size:14px; border-radius: 3px;}
.form50_right{margin-left: 4%;}
.smallForm{ min-width:50px; border:#ccc solid 1px; padding:4px; font-size:12px; margin-right:8px; float:left; max-width:120px;}
.lockLink{margin: 2px;display: inline-block;}


.banner-text{background: #a3c21f; padding: 20px 0; -webkit-box-shadow: 0px 5px 20px rgba(0,0,0,.4); -moz-box-shadow: 0px 5px 20px rgba(0,0,0,.4); box-shadow: 0px 5px 20px rgba(0,0,0,.4);}
.banner-text h2{font-size: 30px; color: #fff; font-weight: 300;}
.banner-text h2 span{font-weight: 500;}

.home-steps{padding: 60px 0; background: #f4f6ed;}
.section-title{ text-align: center; font-size: 30px; color: #40413c; margin-bottom: 40px;}

.steps-left{padding-right: 100px;}
.steps-signup{padding-left: 65px; position: relative;}
.steps-signup .step-num{background: #90bd25; width: 50px; height: 50px; line-height: 50px; color: #fff; font-size: 30px; position: absolute; left:0; text-align: center; border-radius: 100px;}
.steps-signup h3{font-size: 18px; color: #40413c; margin: 0px; padding-top: 5px;}
.steps-signup p{font-size: 14px; color: #8e908b; margin: 5px 0 0;}

.steps-count{width: 100%; list-style: none; display: inline-block; float: left; border: 1px solid #d7d7d7; border-radius: 50px; margin: 20px 0 0; padding: 15px;}
.steps-count li{display: inline-block; float: left; height: 40px; line-height: 40px; margin-right: 48px; padding: 0px 30px; font-size: 16px; color: #8e908b;}
.steps-count li:last-child{margin-right: 0px;}
.steps-count li:hover, .steps-count li.active{background: #fff; -webkit-box-shadow: 0px 5px 20px rgba(0,0,0,.4); -moz-box-shadow: 0px 5px 20px rgba(0,0,0,.4); box-shadow: 0px 5px 20px rgba(0,0,0,.4); border-radius: 50px; color: #40413c; cursor: pointer;}
.btn.btn-steps{width: 200px; margin: 0 auto; display: block; background: #90bd25; font-size: 18px; height: 50px; line-height: 50px; border-radius: 25px; color: #fff; padding: 0px;}

.upgrade-section{width: 80%; margin: 0 auto;}
.home-upgrade{background: #fff; padding: 30px 0;}
.btn.btn-upgrade{width: 250px; margin: 40px auto 0; display: block; background: #973535; font-size: 18px; height: 50px; line-height: 50px; border-radius: 25px; color: #fff; padding: 0px;}
.upgrade-inner{border-bottom: 1px solid #f1f4e9; position: relative; padding: 25px 0 25px 100px;}
.upgrade-inner img{position: absolute; left:0; top:25px;}
.upgrade-inner.upgrade-inner-right{padding-left: 200px; border-left: 1px solid #f1f4e9;}
.upgrade-inner.upgrade-inner-right img{left: 120px;}
.upgrade-inner-bottom{border-bottom: none;}
.upgrade-circle{width: 60px; height: 60px; border-radius: 100px; display: block; -webkit-box-shadow: 0px 5px 10px rgba(204, 204, 204,.4); -moz-box-shadow: 0px 5px 10px rgba(204, 204, 204,.4); box-shadow: 0px 5px 10px rgba(204, 204, 204,.4); position: absolute; bottom: -25px; left: -30px; background: #fff; z-index: 9;}
.upgrade-text h4{width: 100%; float: left; color: #40413c; font-size: 16px; margin-top: 0px;}
.upgrade-text p{color: #7c7f73; font-size: 14px;}
.upgrade-bottom{text-align: center; margin: 20px 0 0;}
.upgrade-bottom P{font-size: 12px; color: #973535; margin: 10px 0 0;}
.upgrade-know{color: #7c7f73;}
.upgrade-know span{color: #40413c;}

.home-testimonials{background: #f9fbf6; padding: 30px 0;}
.home-testimonials blockquote{border-left: none;}
.content {margin: auto; padding: 0 20px; width: 80%; max-width: 1200px; min-width: 300px;}
.slick-dotted.slick-slider{margin-bottom: 0px !important;}
.slick-slider {margin: 30px auto 50px;}

.slick-prev, .slick-next {color: white; opacity: 1; height: 40px; width: 40px; margin-top: -20px;}
.slick-prev path, .slick-next path {fill: rgba(255, 255, 255, 0.4);}
.slick-prev:hover path, .slick-next:hover path {fill: #FFFFFF;}

.slick-prev {left: -35px;}
.slick-next {right: -35px;}

.slick-prev:before, .slick-next:before {content: none;}
.slick-dots li button:before {color: rgba(255, 255, 255, 0.4); opacity: 1; font-size: 8px;}
.slick-dots li.slick-active button:before {color: #FFFFFF;}

.quote-container {min-height: 200px; color: #666666; font-size: 36px; margin: 0 20px; position: relative;}
.quote-container:hover {cursor: -webkit-grab; cursor: grab;}
.quote-container .portrait {position: absolute; top: 0; bottom: 0; margin: auto; height: 140px; width: 140px; overflow: hidden; border-radius: 100px;}
.quote-container .portrait img {display: block; height: auto; width: 100%;}
.quote-container .quote {position: relative; z-index: 600; padding: 0px 0 0px 180px; margin: 0; font-size: 16px; line-height: 1.4 !important; color: #40413c;}
.quote-container .quote p {position: relative; margin-bottom: 20px; color: #40413c;}
.quote-container .quote p:first-child:before { content: '\201C'; color: #cdcfca; font-size: 40px; font-weight: 700; opacity: 1; position: absolute; top: -.4em; left: -35px; text-shadow: none; z-index: -10;}
.quote-container .quote cite {display: block; font-size: 14px;}
.quote-container .quote cite span {font-size: 16px; font-style: normal; letter-spacing: 1px; text-transform: uppercase;}

.dragging .quote-container {cursor: -webkit-grabbing; cursor: grabbing;}

.octogon {-webkit-clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%); clip-path: url(#octogon); height: 140px;width: 140px;}

@-webkit-keyframes gradient {
  0% {background-position: 5% 0%;}
  50% {background-position: 96% 100%;}
  100% {background-position: 5% 0%;}
}
@keyframes gradient {
  0% {background-position: 5% 0%;}
  50% {background-position: 96% 100%;}
  100% {background-position: 5% 0%;}
}
.home-started{background: #98232d; padding: 15px 0;}
.home-started ul{width: 100%; list-style: none; display: block; float: left; text-align: center; margin: 0px;}
.home-started ul li{display: inline-block; text-align: center;}
.home-started-text{font-size: 20px; color: #fff; padding-right: 20px;}
.home-started-btn{padding: 10px 40px; background: #ffdd00; font-size: 18px; color: #40413c; border: none; outline: none; border-radius: 20px; font-weight: 500;}

.home-about{padding: 20px 0; background: #fff;}
.footer-about h4{color: #40413c; font-size: 20px;}
.footer-about p{font-size: 14px; color: #7c7f73;}
.footer-about a{color: #98232d; border-bottom: 1px dotted #98232d;}
.footer-logo{width: 200px; height: 200px; -webkit-box-shadow: 0px -1px 20px rgba(204, 204, 204,.4); -moz-box-shadow: 0px -1px 20px rgba(204, 204, 204,.4); box-shadow: 0px -1px 20px rgba(204, 204, 204,.4); border-radius: 100px; background: #fff; position: relative;}
.footer-logo img{position: absolute; left:0; right: 0; top:0; bottom:0; margin: auto; max-width: 200px; max-height: 200px;}

.homepage-footer {background-color: #fff;}