/******** Imports Stylesheets ********/
@import url("header-footer.css");
@import url("custom-form-styles.css");
@import url("homepage.css");
@import url("basic-registration.css");
@import url("upload-photos.css");
@import url("verify-number.css");
@import url("partner-preference.css");
@import url("myprofile.css");
@import url("profile-preview.css");
@import url("other-profile.css");

/******** Normalize Styles ********/
html,body {height: 100%;}
body {background: #f4f6ed; color: #5a5a5a; font-family: 'poppinsregular'; font-size: 14px;}
a:hover, a:focus {outline: 0; text-decoration: none; border: 0;}
input:focus {outline: 0;}
input[type="radio"] {margin: 0;}
ul, li {list-style: none; margin: 0; padding: 0;}
img {max-width: 100%; height: auto;}

/******** Custom Styles ********/
.no-margin {margin: 0;}
.no-margin-imp {margin: 0 !important;}

.no-margin-top {padding-top: 0;}
.no-margin-btm {padding-bottom: 0;}
.no-margin-right {padding-right: 0;}
.no-margin-left {padding-left: 0;}

.no-padding {padding: 0;}
.no-padding-imp {padding: 0 !important;}

.no-padding-top {padding-top: 0;}
.no-padding-btm {padding-bottom: 0;}
.no-padding-right {padding-right: 0;}
.no-padding-left {padding-left: 0;}

.no-border {border: 0;}
.no-border-top {border-top: 0;}
.no-border-btm {border-bottom: 0;}
.no-border-right {border-right: 0;}
.no-border-left {border-left: 0;}
 
.fnone {float: none;}
.fright {float: right;}
.fleft {float: left;}

/******** Custom Confirm Button Styles ********/
.confirm-red-btn {margin-bottom: 30px;}
.confirm-red-btn a {background-color: #973535; padding: 8px 20px; color: #fff; text-align: center; border-radius: 3px; font-family: 'poppinssemibold';}
.confirm-red-btn a:focus {outline: 1px dotted #ccc;}

/******** Custom Tile Styles ********/
.white-tile {background-color: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-bottom: 20px;}
.white-tile .white-tile-title {color: #40413c; font-size: 16px; font-family: 'poppinsmedium'; text-align: center; padding: 18px 5px; margin: 0;}

.color-tiles {border-radius: 3px; padding: 20px 5px; color: #fff; font-size: 12px; margin-bottom: 20px;}
.color-tiles p {font-family: 'poppinsmedium'; font-size: 16px; color: #fff; margin-top: 15px;}
.color-tiles span {color: rgba(255,255,255,0.5); display: block;}
.color-tiles a {font-family: 'poppinssemibold'; border-radius: 15px; width: 152px; height: 32px; display: inline-block; text-align: center; line-height: 32px; background-image: url('../images/right-arrow-icon.png'); background-position: right 12px center; background-repeat: no-repeat; margin: 15px 0 0; color: #fff;}

/******** Custom color Styles ********/
.redBg {background: #c42b3d}
.yellowBg {background: #fff006}
.greenC {color: #98d800}
.greenBg {background: #c8e954}
.greenBtn {margin-top: 18px; height: 36px;}

.green-tooltip + .tooltip > .tooltip-inner {background-color: #95c22b;}
.green-tooltip + .tooltip > .tooltip-arrow {border-bottom-color: #95c22b; }

/******** Global custom media query Styles ********/
@media (min-width: 768px) {
    .from-tablet-no-padding {padding: 0;}
}