/******** Media Query Styles ********/
@media (min-width: 992px) and (max-width: 1200px) {
	.editView .info-option-component .ct-radio-box {min-width: 46%;}
	.info-option-component .ct-radio-box {min-width: 46%; margin-left: 8%; margin-bottom: 12px;}
	.info-option-component .ct-radio-box:nth-child(odd) {margin-left: 0;}
}

@media (max-width: 1200px) {
    .preference-block ul li label {width: 132px;}
    .preference-block ul li label + span {width: calc(100% - 132px);}
}

@media(max-width: 1199px) {
	/*Profile Styles*/
	.profile-image-block {min-height: 140px;}
	.preference-block .profile-pic-block .add-edit-profile-pic a {background-position: left 5px center;}
	.user-details-block ul.user-mobile-number li span strong {display: block;}
	.user-details-block ul.user-mobile-number li span strong + label {margin: 0;}

	.help-block {padding: 20px;}

	/* Footer Social Styles */
    .social-share-block span.social-network-content {width: 75%;}
}

@media(max-width: 1024px) {
	/*Homepage Styles*/
	.banner-main-box{width: 500px;}
	.mainFoam{width: 450px;}
	.steps-left{padding-right: 0px;}
	.upgrade-inner.upgrade-inner-right {padding-left: 150px;}

	/*Profile Styles*/
	.user-details-block ul li {width: 50%;}
	.user-details-block ul.user-mobile-number li:first-child {width: 50%;}
}

@media(max-width: 991px) {
	.info-tablet-select, .info-tablet-select:first-child, .info-tablet-select:last-child {margin-bottom: 15px; margin-left: 0; padding: 0;}
	.info-tablet-select:last-child {margin-bottom: 0;}
	.info-tablet-select:first-child, .info-tablet-select:last-child {padding: 0 !important;}
	.better-responses-text {line-height: normal;}
	.why-register-block {margin-top: 0;}
	.why-register-block ul li {margin-bottom: 0;}
	.why-register-block ul li:nth-child(2) {color: #95c22b;}
	.why-register-block ul li:last-child {color: #ffbe0f;}

	/*Homepage Styles*/
	.banner-main-box{position: relative; margin: 80px 0 0; width: 100%; padding: 0 15px;}
	.mainFoam{width: 80%; position: relative; margin: 0 auto; display: block; float: none;}
	.home-steps img{margin: 0 auto; display: block; max-width: 100%;}
	.upgrade-circle{display: none;}
	.upgrade-inner.upgrade-inner-right{padding-left: 80px; border-left: none;}
	.upgrade-inner.upgrade-inner-right img{left:0;}
	.upgrade-inner{padding-left: 80px;}
	.upgrade-section{width: 100%;}
	.content{width: 100%;}
	.footer-logo{margin: 0 auto; display: block; float: none;}

	/*Profile Styles*/
	.preference-block .profile-pic-block .add-edit-profile-pic a {background-position: left 20px center;}

	/*Profile Preview Styles*/
	.profile-details-preview .user-details-block ul, .profile-details-preview .user-details-block ul:first-child {width: 100%;}

	/*Recent Updated Profile Styles*/
	.update-profiles-block {float: left; width: 48%; margin-right: 4%;}
	.update-profiles-block:last-child {margin: 0;}

	.editView .info-option-component .ct-radio-box {min-width: 65px;}

	.partner-preference-tiles .white-tile {width: 50%; margin: 0 auto 20px;}
    .partner-preference-tiles .tablet-view-tiles .color-tiles {float: left; width: 45%; margin: 0 2.5% 20px;}
}

@media (min-width: 768px) {
	.verify-number-popup-container .modal-dialog {width: 530px;}
}

@media(max-width: 767px){
	/*Homepage Styles*/
	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: none; border: 0px;}

	/*Profile Styles*/
	.profile-block.partner-preference-block {margin: -100px 0 0;}
	.user-title-preview-block {margin-top: 30px;}
	.user-details-block ul li {width: 100%;}
	.user-details-block ul.user-mobile-number li:first-child {width: 100%;  margin-bottom: 25px;}
	.user-details-block ul.user-mobile-number li span strong {display: inline-block; margin-right: 10px;}

	/*Verify Phone Number Styles*/
	.verify-number-popup-container .modal-dialog {width: 530px; margin: 0 auto;}
	
	.vnumber-popup-footer .col-md-6:first-child {padding-right: 15px; margin-bottom: 15px;}
	.vnumber-popup-footer .col-md-6:last-child {padding-left: 15px;}

	/*Footer social Styles*/
	.upload-photo-container {margin-bottom: 15px; text-align: center;}
    .upload-photo-container .photos-share-block {text-align: left;}
    .social-share-block span.social-network-content {margin-top: 16px;}
}

@media(max-width: 640px){
	/*Profile Styles*/
	.preview-block {margin-top: 12px; width: 100%;}
	.preview-block a {background-image: none;}
	.preview-block a, .add-edit-profile-pic a {margin: 0;}

	/*Verify Phone Number Styles*/
	.verify-number-popup-container .modal-dialog {width: 100%; padding: 0 20px;}

	/*Like Profile Block Styles*/
	.like-profile-block a {margin-top: 0;}
	.more-pics span {display: inline-block;}

	.preference-block span {display: block;}
    .preference-block a {margin-top: 15px;}
    .partner-preference-tiles .white-tile {width: 60%;}
	.partner-preference-tiles .tablet-view-tiles .color-tiles {width: 100%; margin: 0 0 20px;}
	
	/*Footer Social Styles*/
	.social-share-block span.social-network-content {margin-top: 7px;}
}

@media(max-width: 520px){
	.info-option-component .ct-radio-box {min-width: 46%; margin-left: 8%; margin-bottom: 12px;}
	.info-option-component .ct-radio-box:nth-child(odd) {margin-left: 0;}

	.like-intreset-btn-block p {width: 100%;}
}

/* Small Devices */
@media(max-width: 480px){
	/*Like Profile Block Styles*/
	.like-profile-block label {display: block; text-align: center;}
	.like-profile-block a {margin-left: 0;}
	.like-profile-block a:last-child {float: right;}

	/*Recent Updated Profile Styles*/
	.update-profiles-block {float: none; width: 100%; margin: 0 0 20px;}

	.like-intreset-btn-block .like-profile-block a.yes-btn {float: left;}
}

/* Small Devices */
@media(max-width: 420px){
	.xs-full-width {width: 100%;}
	
	.info-option-component .ct-radio-box {margin-left: 0;}
	.info-option-component .ct-radio-box:last-child {margin: 0;}
	.info-option-component.info-option-location .ct-radio:last-child {margin: 12px 0 0;}

	.partner-preference-tiles .white-tile {width: 100%;}
	
	/*Verify Number Styles*/
	.photo-notic-block h3 {font-size: 18px;}
	
	/*Verify Phone Number Styles*/
	.vnumber-popup-content {padding: 0 10px;}
}

@media(max-width: 400px){
	/*Profile Styles*/
	.user-details-block ul.user-mobile-number li span strong {display: block; margin-right: 0;}

	.profile-details-preview .user-details-block ul li span {width: 80%;}
}

@media(max-width: 360px){
	/*Verify Number Styles*/
	.photo-notic-block h3 {font-size: 16px;}
}