.exclusive-band.profile-band {height: 375px;}

.profile-block.partner-preference-block {margin: -200px 0 0;}
.profile-pic-block {max-width: 210px; margin: 0 auto;}
.profile-image-block {width: 100%; min-height: 180px; position: relative; max-width: 200px;}
.add-edit-profile-pic {border: 1px solid #e4e0e0; border-radius: 3px; width: 100%; margin-top: 10px;}
.preference-block .profile-pic-block .add-edit-profile-pic a {background-image: url(../images/image-icon.png); padding: 4px 0 4px 20px; float: none; display: inline-block; width: 100%; background-position: left 20px center;}

.user-title-preview-block {border-bottom: 1px solid #dbddd2; padding-bottom: 15px;}
.user-name-block h3 {margin: 0; color: #40413c; font-family: 'poppinssemibold'; font-size: inherit;}
.user-name-block span {font-size: 12px; color: #c5c7b8;}
.user-name-block span strong {font-weight: normal;}
.preview-block {font-family: 'poppinssemibold'; border: 1px solid #e4e0e0; width: 165px;}
.preview-block a {padding: 4px 0 4px 28px; width: 100%; float: none; display: inline-block; background-image: url('../images/eye-icon.png'); background-position: left 14px center;}

.user-details-block {}
.user-details-block ul {padding-top: 20px;}
.user-details-block ul li {width: 33.33%; margin: 0 0 25px; padding: 0 15px 0 0; float: left;}
.user-details-block ul li label {color: #c5c7b8; width: 100%;}
.user-details-block ul li label + span {color: #7c7f73; width: 100%; padding: 0;}
.user-details-block ul li span:after {content: "";}
.user-details-block ul.user-mobile-number {padding: 0;}
.user-details-block ul.user-mobile-number li:first-child {width: 66.66%;}
.user-details-block ul.user-mobile-number li {margin: 0;}
.user-details-block ul.user-mobile-number li span strong {font-weight: normal; font-family: 'poppinssemibold';}
.user-details-block ul.user-mobile-number li span label {width: auto; float: none; background-image: url('../images/green-tick-icon.png'); background-position: left top; background-repeat: no-repeat; margin: 0 0 0 10px; padding: 0 10px 0 25px;}
.user-details-block ul.user-mobile-number li span label:after {content: '|'; padding: 0 0 0 10px;}
.user-details-block ul.user-mobile-number li span a {padding: 0; background-image: none; float: none;}

.editView {margin: 25px 0 0;}
.editView .info-option {margin-bottom: 20px;}
.editView .info-option label {font-size: 14px; margin-bottom: 2px;}
.editView .info-option-component .ct-radio-box {min-width: 85px;}
/******** Tiles Styles ********/
.partner-preference-tile {background-color: #08348c;}
.partner-preference-tile a {background-color: #95c22b;}