.match-score-block {margin-top: 30px;}
.match-score-block h6 {font-family: 'poppinssemibold'; font-size: 14px; margin: 0 0 15px;}
.match-score-progress {background-color: #f4f5f0; border-radius: 10px; height: 10px;}
.match-score-progress span {width: 80%; display: block; height: 100%; border-radius: 10px;
    background-color: #90bd25; background-image: linear-gradient(to left, #ffdd00, #90bd25); -webkit-background-image: -webkit-linear-gradient(to left, #ffdd00, #90bd25); -webkit-background-image: -webkit-linear-gradient(to left, #ffdd00, #90bd25); -moz-background-image: -moz-linear-gradient(to left, #ffdd00, #90bd25); -o-background-image: -o-linear-gradient(to left, #ffdd00, #90bd25);
}
.match-score {margin-top: 15px;}

.more-pics {position: absolute; right: 1px; bottom: 2px; background-color: rgba(56, 56, 56, 0.5); padding: 5px 10px; border-radius: 5px 0 3px 0; color: #ffffff; line-height: 16px;}
.more-pics img {margin: -5px 3px 0 0; background-color: rgba(255, 255, 255, 0.8); border-radius: 2px;}

.like-profile-block {background-color: #fcfcfc; border: 1px solid rgba(202, 202, 202, 0.3); border-radius: 3px; margin-top: 25px; padding: 12px 20px;}
.like-profile-block label {display: inline-block; margin: 0 0 5px;}
.like-profile-block a {display: inline-block; float: none; background-image: none; padding: 5px 16px; text-align: center; min-width: 90px; background-color: #ffffff; border: 1px solid rgba(202, 202, 202, 0.4); border-radius: 3px; margin-left: 20px; color: #9c2929;}
.like-profile-block a:hover {border: 1px solid rgba(202, 202, 202, 0.4);}
.like-profile-block a.yes-btn {background-color: #95c22d; border-color: #95c22d; color: #ffffff;}
.like-profile-block a.yes-btn:hover {border-color: #95c22d;}

.like-intreset-block {padding: 20px 30px;}
.like-intreset-image-block img {border: 5px solid #90bd25; background-color: #90bd25; width: 120px;}

.like-intreset-btn-block {margin: 10px 0; text-align: center;}
.like-intreset-btn-block .like-profile-block {margin: 20px 0 15px;}
.like-intreset-btn-block strong, .like-intreset-btn-block span {display: block; margin-bottom: 3px;}
.like-intreset-btn-block span {color: #b1b3a4;}
.like-intreset-btn-block p {font-size: 12px; color: #b1b3a4; margin: 0 auto; width: 70%;}