.exclusive-band.partner-preference-band {padding: 40px 15px 35px}
.exclusive-band.partner-preference-band p {font-size: 30px; font-family: 'poppinssemibold'; line-height: 30px; margin-bottom: 15px;}
.exclusive-band.partner-preference-band span {color: #d2fd6d; font-family: 'poppinslight'; font-size: 16px;}

.partner-preference-block h3.partner-preference-title {font-family: 'poppinssemibold'; font-size: 18px; color: #40413c; margin: 24px 0 20px; padding: 0 15px;}

.preference-block {background-color: #fff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-bottom: 20px; padding: 20px;}
.preference-block p {color: #7c7f73; font-size: 13px; margin-bottom: 25px;}
.preference-block strong {font-family: 'poppinssemibold';}
.preference-block h4 {font-family: 'poppinsmedium'; font-size: 16px; padding: 0 1px 14px; border-bottom: 1px solid #dbddd2; margin: 0;}
.preference-block h4:after {content: ''; display: table; clear: both;}
.preference-block a {background-image: url("../images/pencile-edit-icon.png"); background-position: left center; background-repeat: no-repeat; color: #9c2929; padding-left: 20px; float: right;}
.preference-block a.saveInfo {background-image: url("../images/save-icon.png");}

.preference-block ul li {margin-top: 25px; word-wrap: break-word;}
.preference-block ul li:after {content: ''; display: table; clear: both;}
.preference-block ul li label {color: #b1b3a4; width: 185px; float: left; position: relative; margin: 0; font-weight: normal;}
.preference-block ul li label + span:after {content: ":"; position: absolute; left: 0; top: 0; color: #b1b3a4;}
.preference-block ul li label + span {width: calc(100% - 185px);}
.preference-block ul li span {color: #6e6f68; padding: 0 20px 0 12px; float: left; display: block; position: relative; width: 100%;}
.preference-block ul li span p:last-child {margin: 0;}

/******** Tiles Styles ********/
.partner-preference-tiles .add-details-options-tile {border-top: 1px solid #edeee8; padding: 15px 20px;}
.partner-preference-tiles .add-details-options-tile img {float: left;}
.partner-preference-tiles .add-details-options-tile span {margin-left: 20px; font-size: 12px; color: #7c7f73; width: calc(100% - 68px);}
.partner-preference-tiles .add-details-options-tile span strong {color: #95c22b; font-weight: normal;}

.partner-preference-tiles .family-details-tile {background-color: #63b2e5;}
.partner-preference-tiles .family-details-tile a {background-color: #4267b2;}

.partner-preference-tiles .horoscope-tile {background-color: #95c22b;}
.partner-preference-tiles .horoscope-tile a {background-color: #ffdd00;}