.profile-details-preview {}
.profile-details-preview .user-title-preview-block h3 {font-size: 22px;}
.profile-details-preview .user-title-preview-block strong {font-family: 'poppinsregular'; padding-left: 5px;}
.profile-details-preview .user-title-preview-block strong:before {content: '|'; padding-right: 10px;}

.profile-details-preview .user-details-block ul {float: left;}
.profile-details-preview .user-details-block ul:first-child {width: 65%;}
.profile-details-preview .user-details-block ul li {float: none; width: 100%; margin: 0 0 15px;}
.profile-details-preview .user-details-block ul li:last-child {margin: 0;}
.profile-details-preview .user-details-block ul li label {height: 25px; width: 25px; margin-right: 8px;}
.profile-details-preview .user-details-block ul li span {width: auto; line-height: 25px;}

.icon-details {background-repeat: no-repeat; background-position: center;}
.user-icon {background-image: url(../images/profile-icons/user-icon.png);}
.location-icon {background-image: url(../images/profile-icons/location-icon.png);}
.relation-tree {background-image: url(../images/profile-icons/relation-tree.png);}
.relation-group {background-image: url(../images/profile-icons/relation-group.png);}
.religion-icon {background-image: url(../images/profile-icons/religion-icon.png);}
.user-detail-icon {background-image: url(../images/profile-icons/user-detail-icon.png);}
.wallet-icon {background-image: url(../images/profile-icons/wallet-icon.png);}
.education-icon {background-image: url(../images/profile-icons/education-icon.png);}


.partner-preference-block {margin: 50px 0;}
.partner-preference-block .profile-preview-block .preference-block h4 img {float: left; margin-right: 13px;}
.partner-preference-block .profile-preview-block .preference-block h4 span {float: left; line-height: 32px;}
.profile-preview-block {background-color: #ffffff; border-radius: 3px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-bottom: 20px; padding: 0;}
.profile-preview-block .preference-block {background-color: transparent; border-radius: 0; box-shadow: 0 0 0; margin-bottom: 0;}

.help-block {background-color: #ffffff; border: 1px solid #dbddd2; border-radius: 3px; padding: 20px 35px; margin: 0 0 20px;}
.help-block h4 {margin-top: 12px; color: #40413c; font-size: 24px; font-family: 'poppinssemibold';}
.help-block p {font-family: 'poppinsmedium'; color: #7c7f73; margin: 14px 0 20px;}
.help-block p a {color: #9c2929; border-bottom: 1px solid #9c2929;}

.update-profiles-block {background-color: #ffffff; box-shadow: 0 2px 4px rgba(0,0,0,0.1); border-radius: 3px; margin: 0 0 20px;}
.update-profiles-block h4 {margin: 0; padding: 20px; font-family: 'poppinssemibold'; font-weight: normal;}
.update-profiles-block ul li {border-top: 1px solid #dbddd2; padding: 15px 20px;}
.update-profiles-block ul li:before, .update-profiles-block ul li:after {content: ''; display: table;}
.update-profiles-block ul li:after {clear: both;}

.recent-profile-image {float: left; margin-right: 15px; width: 74px;}
.recent-profile-image a {color: #9c2929; font-size: 12px; text-align: center; display: block; margin-top: 8px;}
.recent-profile-details {font-size: 12px;}
.recent-profile-details p {font-family: 'poppinssemibold';}
.recent-profile-details p span:first-child {margin-right: 8px;}
.recent-profile-details p span:last-child {font-family: 'poppinsregular'; color: #c6c8bd;}
.recent-profile-details span {display: block; font-size: 11px;}