.upload-photo-container {margin-top: 40px; margin-bottom: 70px;}

.exclusive-band.upload-photo-band {padding: 28px 15px 32px;}

.default-upload-photo {background-color: #fff; padding: 8px; border-radius: 3px; box-shadow: 0 0px 12px rgba(0,0,0, 0.2); margin-bottom: 30px; display: inline-block;}

.upload-photo-container h3 {margin: 0 0 35px;}
.add-photos-btn input[type="file"] {opacity: 0; display: none;}
.add-photos-btn label {background-color: #973535; border-radius: 2px; color: #fff; cursor: pointer; width: 140px; height: 36px; line-height: 36px; text-align: center; margin-bottom: 15px;}

.divider-block {margin: 30px 0; position: relative;}
.divider-block .divider-text {background-color: #fff; border-radius: 50%; color: #c5c7b8; box-shadow: 0 0 0 12px #f4f6ed; border: 1px solid #e0e2d9; display: inline-block; line-height: 36px; position: relative; width: 36px; height: 36px; z-index: 9;}
.divider-block .divider-border {border-top: 1px solid #e0e2d9; position: absolute; top: 50%; left: 0; width: 100%;}

.social-share-block {color: #7c7f73; margin-bottom: 20px;}
.social-share-block span {float: left;}
.social-share-block span.social-network-icon {margin-right: 15px;}
.social-share-block span.social-network-content {width: 78%; font-size: 13px; line-height: 20px; margin-top: 7px;}