.verify-number-profile-block {margin-top: 18px;}
.verify-number-profile-block p {font-size: 14px; font-family: 'poppinsregular';}
.exclusive-band .verify-profile-id {font-size: 18px; font-family: 'poppinssemibold'; color: #fffffe; border-radius: 3px; border: 1px solid #b5df54; padding: 4px 22px; margin-bottom: 22px; display: inline-block;}
.verify-number-profile-block p:last-child {font-size: 12px;}

.verify-number-block {margin: 38px 0 80px;}
.verify-number-block h3 {font-family: 'poppinsmedium'; font-size: 30px; color: #40413c; margin: 0 0 22px;}
.verify-number-block p {color: #7c7f73;}
.verify-number-block p strong {font-family: 'poppinssemibold';}
.verify-number-block p a {color: #981339; border-bottom: 1px solid #981339;}
.verify-number-block p a:hover {border: 0;}

.otp-number {display: inline-block; margin: 30px 0 60px;}
.otp-number input[type="text"] {border: 1px solid #dbddd2; border-right: 0; border-radius: 3px; width: 200px; line-height: 34px; border-radius: 3px 0 0 3px; padding: 0 5px; float: left;}
.otp-number a {background-color: #973535; border: 1px solid #973535; border-radius: 0 3px 3px 0; color: #fff; font-size: 12px; font-family: 'poppinssemibold'; height: 36px; width: 70px; text-decoration: none; float: left; line-height: 36px;}
.otp-number a:hover, .otp-number a:focus, .otp-number a:visited {text-decoration: none; border: 1px solid #973535;}

.otp-number input::-webkit-placeholder {color: #c5c7b8;}
.otp-number input::-moz-placeholder {color: #c5c7b8;}
.otp-number input::-ms-placeholder {color: #c5c7b8;}
.otp-number input::-o-placeholder {color: #c5c7b8;}
.otp-number input::placeholder {color: #c5c7b8;}