<div class="exclusive-band text-center">
	<p>Great! You are about to complete your profile</p>
	<span>You are joining the exclusive Brahmin matrimonial</span>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-sm-12">
			<form name="userInformation" id="userInformation" method="get">
				<!-- Basic Informatin start -->
				<div class="information-block">
					<div class="info-header">
						<span class="info-header-icon"></span>
						<span class="info-header-title">Basic Information</span>
					</div>
					<div class="info-body">
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Body Type:</label>
									<div class="info-option-component clearfix">
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="slim" value="slim">
											<label for="slim">Slim</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="average" value="average">
											<label for="average">Average</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="athletic" value="athletic">
											<label for="athletic">Athletic</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="heavy" value="heavy">
											<label for="heavy">Heavy</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Weight</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Weight</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Education in detail</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Education</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Occupation in detail</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Occupation</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Basic Informatin ends -->
				
				<!-- LifeStyle Informatin start -->
				<div class="information-block">
					<div class="info-header lifestyle-icon-header">
						<span class="info-header-icon lifestyle-icon"></span>
						<span class="info-header-title">Lifestyle Info</span>
					</div>
					<div class="info-body">
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Eating Habit</label>
									<div class="info-option-component clearfix">
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="eatinghabit" id="vegetarisn" value="vegetarisn">
											<label for="vegetarisn">Vegetarisn</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="eatinghabit" id="nonvegetarisn" value="nonvegetarisn">
											<label for="nonvegetarisn">Non-Vegetarisn</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="eatinghabit" id="eggetarisn" value="eggetarisn">
											<label for="eggetarisn">Eggetarisn</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Drinking Habit</label>
									<div class="info-option-component clearfix">
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="drinkinghabit" id="drinkno" value="drinkno">
											<label for="drinkno">No</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="drinkinghabit" id="drinkingsocially" value="drinkingsocially">
											<label for="drinkingsocially">Drinking Socially</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="drinkinghabit" id="drinkyes" value="drinkyes">
											<label for="drinkyes">Yes</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Smoking Habit</label>
									<div class="info-option-component col-md-12">
										<div class="info-option-component info-lifestyle-drink-smoke clearfix">
											<div class="ct-radio-box xs-full-width">
												<input type="radio" name="smokinghabit" id="smokeno" value="smokeno">
												<label for="smokeno">No</label>
											</div>
											<div class="ct-radio-box xs-full-width">
												<input type="radio" name="smokinghabit" id="occasionally" value="occasionally">
												<label for="occasionally">Occasionally</label>
											</div>
											<div class="ct-radio-box xs-full-width">
												<input type="radio" name="smokinghabit" id="smokeyes" value="smokeyes">
												<label for="smokeyes">Yes</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- LifeStyle Informatin ends -->
				
				<!-- Religion Informatin start -->
				<div class="information-block">
					<div class="info-header">
						<span class="info-header-icon religious-icon"></span>
						<span class="info-header-title">Religion Information</span>
					</div>
					<div class="info-body">
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Star</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select nakhyastram</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Raasi</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Raasi</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Horoscope Details</label>
									<p class="no-margin better-responses-text">(Strongly recommended for better responses)</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Time of Birth</label>
									<div class="info-option-triple-component">
										<div class="info-option-component bs-select col-md-4 info-tablet-select">
											<select>
												<option>Hrs</option>
											</select>
										</div>
										<div class="info-option-component bs-select col-md-4 info-tablet-select">
											<select>
												<option>Min</option>
											</select>
										</div>
										<div class="info-option-component bs-select col-md-4 info-tablet-select">
											<select>
												<option>AM/PM</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="info-option clearfix">
									<label class="info-option-title">Place of Birth</label>
									<div class="info-option-triple-component">
										<div class="info-option-component bs-select col-md-4 info-tablet-select">
											<select>
												<option>India</option>
											</select>
										</div>
										<div class="info-option-component bs-select col-md-4 info-tablet-select">
											<select>
												<option>State</option>
											</select>
										</div>
										<div class="info-option-component bs-select col-md-4 info-tablet-select">
											<select>
												<option>City</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Religion Informatin ends -->
				
				<!-- Family Informatin start -->
				<div class="information-block">
					<div class="info-header">
						<span class="info-header-icon family-information-icon"></span>
						<span class="info-header-title">Family Information</span>
					</div>
					<div class="info-body">
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Father Status</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Father Status</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Mother Status</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Mother Status</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Brothers</label>
									<div class="info-option-double-component">
										<div class="info-option-component bs-select col-md-6 info-tablet-select">
											<select>
												<option>No of Brothers</option>
											</select>
										</div>
										<div class="info-option-component bs-select col-md-6 info-tablet-select">
											<select>
												<option>Brothers Married</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Sisters</label>
									<div class="info-option-double-component">
										<div class="info-option-component bs-select col-md-6 info-tablet-select">
											<select>
												<option>No of Sisters</option>
											</select>
										</div>
										<div class="info-option-component bs-select col-md-6 info-tablet-select">
											<select>
												<option>Sisters Married</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Family Location</label>
									<div class="info-option-component info-option-location col-md-12">
										<div class="ct-radio xs-full-width">
											<input type="radio" name="location" id="samelocation" value="same as location">
											<label for="samelocation" class="clearfix">
												<span class="ct-radio-circle fa fa-check"></span>
												<span>Same as location</span>
											</label>
										</div>
										<div class="ct-radio xs-full-width">
											<input type="radio" name="location" id="differentlocation" value="differentlocation">
											<label for="differentlocation" class="clearfix">
												<span class="ct-radio-circle fa fa-check"></span>
												<span>Different location</span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Parent's Contact No. <span class="info-option-title-hint">(Recommended for better responses)</span></label>
									<div class="info-option-double-component">
										<div class="info-option-component bs-select col-md-6 info-tablet-select">
											<select>
												<option>India (+91)</option>
											</select>
										</div>
										<div class="info-option-component bs-input col-md-6 info-tablet-select">
											<input type="text" name="phoneNumber">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="info-option clearfix">
									<label class="info-option-title">Ancestral Origin</label>
									<div class="info-option-component bs-input nopadding">
										<input type="text" name="phoneNumber">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Family Informatin ends -->
				
				<!-- Buttons Starts -->
				<div class="confirm-red-btn clearfix">
					<a href="javascript:void(0)" class="fright xs-full-width">COMPLETE REGISTRATION</a>
				</div>
				<!-- Buttons ends -->
			</form>
		</div>
		<div class="col-md-2 col-sm-12">
			<div class="why-register-block">
				<p class="register-title text-center">Why Register <span>with us?</span></p>
				<ul class="clearfix">
					<li class="text-center col-md-12 col-sm-4 col-xs-4 no-padding">
						<img src="images/genuine-profile.png" alt="Genuine Profile">
						<p>100% <span>Genuine Profile</span></p>
					</li>
					<li class="text-center col-md-12 col-sm-4 col-xs-4 no-padding">
						<img src="images/genuine-profile.png" alt="Genuine Profile">
						<p>100% <span>Secure &amp; Trusted</span></p>
					</li>
					<li class="text-center col-md-12 col-sm-4 col-xs-4 no-padding">
						<img src="images/genuine-profile.png" alt="Genuine Profile">
						<p>FREE <span>Registration</span></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>