<div class="clearfix"></div>
<section class="bannerMain">
	<div class="container">
		<div class="banner-main-box">
			<div class="row">
				<div class="col-sm-4">
					<div class="bannerBox">
						<div class="circle"><img src="images/homepage/icon1.png" /></div>
						<h2>100%</h2>
						<p>genuine profile</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bannerBox">
						<div class="circle"><img src="images/homepage/icon2.png" /></div>
						<h2>100%</h2>
						<p>Secure &amp; Trusted</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bannerBox">
						<div class="circle"><img src="images/homepage/icon3.png" /></div>
						<h2>100%</h2>
						<p>FREE REGISTRATION</p>
					</div>
				</div>
				<h4 class="banner-subtext">Run By <span>Brahmin</span> Team for <span>Brahmin</span> community</h4>
			</div>
		</div>
		<div class="mainFoam">
			<h3>REGISTER FOR FREE</h3>
			<div class="bodyContent">
				<dl>
					<dt>Profile for</dt>
					<dd><select class="form100"><option></option><option>Select Matrimony Profile for</option></select></dd>
				</dl>
				<dl>
					<dt>Name</dt>
					<dd><input type="text" class="form50" placeholder="First name" />
					<input type="text" class="form50 form50_right" placeholder="Surname"/>
					</dd>
				</dl>
				<dl>
					<dt class="form-gender">Gender</dt>
					<dd class="form-inline genderM">
						<div class="form-group">
						<input type="radio" />
						<label for="email">Male</label>
						
						</div>
						<div class="form-group">
						<input type="radio" />
						<label for="email">Female</label>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>Date of Birth</dt>
					<dd class="icon-tag"><input type="text" class="form100 form-date" placeholder="DD-MM-YYYY" />
					<i class="fa fa-calendar form-icon-right"></i>
					</dd>
				</dl>
				<dl>
					<dt>Religion</dt>
					<dd><select class="form100"><option>Select Religion</option></select></dd>
				</dl>
				<dl>
					<dt>Mother Tougue</dt>
					<dd><select class="form100"><option>Telugu</option></select></dd>
				</dl>
				<dl>
					<dt>Mobile Number</dt>
					<dd class="icon-tag">
						<span class="form-mobile"><img src="images/homepage/india.png" alt="" /> +91 </span>
						<input type="text" class="form100 form-mobile-input" />
					</dd>
				</dl>
				<dl>
					<dt>Email Id</dt>
					<dd class="icon-tag"><input type="text" class="form100 form-email" placeholder="Your email id" />
						<i class="fa fa-envelope-o form-icon-right"></i>								  
					</dd>
				</dl>
				<dl>
					<dt>Login Password</dt>
					<dd class="icon-tag">
						<input type="password" class="form100 form-pwd" />
						<i class="fa fa-lock form-icon-right"></i>
					</dd>
				</dl>
				<dl>
					<p class="termsMain"><input type="checkbox" />
					I have read and agree to the <a href="javascript:void(0)">T&C </a> and <a href="javascript:void(0)">Privacy Policy</a>
					</p>
				</dl>
				<div class="row">
					<div class="col-sm-12"><button class="btn btn-success greenBtn btnCus mtNone">Register</button></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="banner-text">
	<div class="container">
		<h2>Exclusive matrimonial<br/>site for <span>Brahmin</span> community</h2>
	</div>
</section>
<div class="clearfix"></div>
<section class="home-steps">
	<div class="container">
		<h2 class="section-title">Find your partner in 3 easy steps...</h2>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="steps-left">
					<div class="steps-signup"><span class="step-num">1</span>
						<h3>Sign Up!</h3>
						<p>Tell us who you are - the bride, the groom or a relative?</p>
					</div>
					<ul class="steps-count">
						<li class="active">Step 1</li>
						<li>Step 2</li>
						<li>Step 3</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<img src="images/homepage/home-step.png" alt="image " />
			</div>
			<div class="col-sm-12"><button class="btn btn-steps">Start here</button></div>
		</div>
	</div>
</section>
<div class="clearfix"></div>		
<section class="home-upgrade">
	<div class="container">
		<h2 class="section-title">Upgrade your Membership to contact people you like</h2>
		<div class="upgrade-section">
		<div class="row">			
			<div class="col-sm-6">
				<div class="upgrade-inner">
					<img src="images/homepage/upgrade1.png" alt="image" />
					<div class="upgrade-text">
						<h4>View Contacts</h4>
						<p>See Mobile &amp; Landline numbers.<br/> Call directly. Send Text messages.</p>
					</div>
				</div>
				<div class="upgrade-inner upgrade-inner-bottom">
					<img src="images/homepage/upgrade2.png" alt="image" />
					<div class="upgrade-text">
						<h4>Check Emails</h4>
						<p>Talk via emails. Share more<br/>pictures, biodata, kundli etc.</p>
					</div>
				</div>
			</div>
				<div class="col-sm-6">
					<div class="upgrade-inner upgrade-inner-right">
						<img src="images/homepage/upgrade3.png" alt="image" />
						<span class="upgrade-circle"></span>
						<div class="upgrade-text">
							<h4>Send Messages</h4>
							<p>Send Personalized Messages <br/>while expressing Interest.</p>
						</div>
					</div>
					<div class="upgrade-inner upgrade-inner-right upgrade-inner-bottom">
						<img src="images/homepage/upgrade4.png" alt="image" />
						<div class="upgrade-text">
							<h4>Chat</h4>
							<p>Chat instantly with other<br/>members who are online!</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12"><button class="btn btn-upgrade">Become a member</button>
					<div class="upgrade-bottom">
						<p>Browse membership plans</p>
						<p class="upgrade-know">To know more, call us @ <span>+91 - 9876543210</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<section class="home-testimonials">
	<div class="container">
		<h2 class="section-title">Testimonials</h2>
		<div class="clearfix"></div>		
		<div class='content'>
			<div class='slider single-item'>
				<div class='quote-container'>
					<div class='portrait octogon'>
						<img alt='' src='images/homepage/testmonial1.png'> 
					</div>
					<div class='quote'>
						<blockquote>
							<p>Meditation shabby chic master cleanse banh mi Godard. Asymmetrical Wes Anderson Intelligentsia you probably haven't heard of them.</p>
							<cite>
								<span>Kristi McSweeney</span>
							</cite>
						</blockquote>
					</div>
				</div>
				<div class='quote-container'>
					<div class='portrait octogon'>
						<img alt='' src='images/homepage/testmonial2.png'> 
					</div>
					<div class='quote'>
						<blockquote>
							<p>Bespoke occupy cred seitan. Austin street art freegan Truffaut leggings aesthetic, salvia chia Brooklyn flexitarian. Single-origin coffee before they sold out health goth, cornhole irony keffiyeh Austin taxidermy mlkshk blog trust fund banh mi you probably haven't heard of them.</p>
							<cite>
								<span>Dina Anderson</span>
							</cite>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<section class="home-started">
	<div class="container">
		<ul>
			<li class="home-started-text">Your story is waiting to happen!</li>
			<li><button class="home-started-btn">Get Started</button></li>
		</ul>
	</div>
</section>
<div class="clearfix"></div>
<section class="home-about">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="footer-about">
					<h4>About Us</h4>
					<p><strong>BrahminShubhakalyaan</strong> is online matrimony service, registered as Techy folks pvt.ltd at Registrar of Companies, Hyderabad. BrahminShubhakalyaan started with a simple quote "A marriage is not only commitment, it's about to finding the right soulmate" and growing day by day with new innovations, using new technologies to improve our self and giving better results to you. We will help the user to find a perfect life partner in his own Community. Our team provides 100% trusted & authenticated user service. Sign up for free today and find your life-partner and use our BrahminShubhakalyaan as Vedika!</p>
					<a href="javascript:void(0);">View details</a>
				</div>
			</div>			
			<div class="col-md-3">
				<div class="footer-logo">
					<img src="images/homepage/logo.png" alt="logo"/>
				</div>
			</div>	
		</div>	
	</div>	
</section>	
<div class="clearfix"></div>