<div class="exclusive-band upload-photo-band text-center">
	<p class="text-center">
		<img src="images/flower-camera.png" alt="Default Upload Photo">
	</p>
	<p>Add your photos and get much better responses!</p>
	<span>Members might not contact profiles without a photo. Upload your photos to get noticed by matches</span>
</div>
<div class="container">
	<div class="row">
		<div class="upload-photo-container clearfix">
			<div class="col-xs-12 col-sm-5 col-md-4 text-center">
				<div class="default-upload-photo">
					<img src="images/photo-upload/default-upload-photo.jpg" alt="Default Upload Photo">
				</div>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8">
				<h3>Upload your photos!</h3>
				<div class="add-photos-btn clearfix">
					<div class="col-sm-12 col-md-3 from-tablet-no-padding">
						<input type="file" id="addPhotosBtn">
						<label for="addPhotosBtn" class="text-uppercase">Add Photos</label>
					</div>
					<div class="col-sm-12 col-md-9 from-tablet-no-padding">
						<span>
								Strong photo privacy options | No dowloads allowed | Photos are watermarked | Image size upto 15MB | JPEG, JPG, PNG
						</span>
					</div>
				</div>
				<p class="divider-block text-center">
					<span class="divider-text text-center">or</span>
					<span class="divider-border"></span>
				</p>
				<div class="row photos-share-block">
					<div class="col-md-6">
						<div class="social-share-block clearfix">
							<span class="social-network-icon">
								<img src="images/photo-upload/whatsapp-icon.png" alt="whatsapp">
							</span>
							<span class="social-network-content">WhatsApp your photos to <strong>+919030190669</strong> and we will upload them instantly</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social-share-block clearfix">
							<span class="social-network-icon">
								<img src="images/photo-upload/fb-icon.png" alt="facebook">
							</span>
							<span class="social-network-content">Select photos from your Facebook account (We'll never post anything on your wall)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>