
<div class="container">
	<div class="row">
		<div class="partner-preference-block profile-details-preview clearfix">
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div class="preference-block">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="profile-pic-block">
								<div class="profile-image-block">
									<img src="images/profile-photo.png" alt="Profile Photo">
									<div class="more-pics">
										<img src="images/image-icon.png">
										<span>4</span>
									</div>
								</div>
								<div class="match-score-block">
									<h6 class="text-uppercase text-center">Match score</h6>
									<div class="match-score-progress">
										<span></span>
									</div>
									<div class="match-score text-center">80%</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-9">
							<div class="user-title-preview-block clearfix">
								<div class="user-name-block fleft">
									<h3>Srikanth Sharma</h3>
									<span>SK00567 <strong>Profile created by myself on Oct 2017</strong></span>
								</div>
							</div>
							<div class="user-details-block clearfix">
								<ul class="clearfix">
									<li>
										<label class="icon-details user-icon"></label>
										<span>29 Years 5 Months, 5 Ft 7 In (178 cm)</span>
									</li>
									<li>
										<label class="icon-details religion-icon"></label>
										<span>Hindu</span>
									</li>
									<li>
										<label class="icon-details relation-group"></label>
										<span>Brahmin - Niyogi</span>
									</li>
									<li>
										<label class="icon-details relation-tree"></label>
										<span>Aruvela Niyogi</span>
									</li>
								</ul>
								<ul class="clearfix">
									<li>
										<label class="icon-details user-detail-icon"></label>
										<span>Soft. Engg</span>
									</li>
									<li>
										<label class="icon-details education-icon"></label>
										<span>B.Tech (CS)</span>
									</li>
									<li>
										<label class="icon-details wallet-icon"></label>
										<span>9.60 Lakhs</span>
									</li>
									<li>
										<label class="icon-details location-icon"></label>
										<span>Vijayawada (AP)</span>
									</li>
								</ul>
							</div>
							<div class="like-profile-block">
								<label>Like this Profile?</label>
								<a href="javascript:void(0)" class="yes-btn">Yes</a>
								<a href="javascript:void(0)">Not now</a>
							</div>
						</div>
					</div>
				</div>
				<h3 class="partner-preference-title">Personal Information</h3>
				<div class="profile-preview-block">
					<div class="preference-block">
						<h4>
							<img src="images/about-me-icon.png" alt="About me"><span>About Me in my own words</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<ul>
									<li>
										<span>
											<p>I am a manager with a bachelor's degree currently working in a private sctor in Vijayawada. I came from a middle class, joint family background with orthodox values.</p>
											<p>Please describe me as simple, passionate and well mannered. My hobbies and interests are cooking and internet surfing.</p>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="preference-block">
						<h4>
							<img src="images/user-icon.png" alt="Basic Details">
							<span>Basic details</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Name</label>
										<span>Srikanth Sharma</span>
									</li>
									<li>
										<label>Age</label>
										<span>29 Years</span>
									</li>
									<li>
										<label>Mother Tounge</label>
										<span>Telugu</span>
									</li>
									<li>
										<label>Height</label>
										<span>5 Ft 7 In / 170 cm</span>
									</li>
									<li>
										<label>Martial Status</label>
										<span>Never married</span>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Profile created for</label>
										<span>My self</span>
									</li>
									<li>
										<label>Body Type/Complexion</label>
										<span>Slim</span>
									</li>
									<li>
										<label>Physical Status</label>
										<span>Normal</span>
									</li>
									<li>
										<label>Weight</label>
										<span>66Kgs</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="preference-block">
						<h4>
							<img src="images/religious-icon.png" alt="Religion Icon">
							<span>Religion Information</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Religion</label>
										<span>Hindu</span>
									</li>
									<li>
										<label>Caste / Sub-caste</label>
										<span>Brahmin - Niyogi / Aruvela</span>
									</li>
									<li>
										<label>Gothrom</label>
										<span>Bharadwaj</span>
									</li>
									<li>
										<label>Star / Rassi</label>
										<span>Bharani / Mesha (Aries)</span>
									</li>
									<li>
										<label>Dosham</label>
										<span>Don't know</span>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Time of Birth</label>
										<span>Add Time</span>
									</li>
									<li>
										<label>Place of Birth</label>
										<span>Add Place</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="preference-block">
						<h4>
							<img src="images/location-icon.png" alt="Grooms Icon">
							<span>Groom's Location</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Country</label>
										<span>India</span>
									</li>
									<li>
										<label>State</label>
										<span>Andhra Pradesh</span>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>City</label>
										<span>Vijayawada</span>
									</li>
									<li>
										<label>Citizenship</label>
										<span>Indian</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="preference-block">
						<h4>
							<img src="images/professional-icon.png" alt="Professional Icon">
							<span>Professional Information</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Education</label>
										<span>B.Tech.</span>
									</li>
									<li>
										<label>Education in detail</label>
										<span>Not specified</span>
									</li>
									<li>
										<label>College/University</label>
										<span>Andhra University</span>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Employeed in</label>
										<span>Private Sector</span>
									</li>
									<li>
										<label>Annual Income</label>
										<span>Rs 9,00,000</span>
									</li>
									<li>
										<label>Occupation</label>
										<span>Manager</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="preference-block">
						<h4>
							<img src="images/family-info-icon.png" alt="Family Icon">
							<span>Family Details</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Family Value</label>
										<span>Orthdox</span>
									</li>
									<li>
										<label>Family Type</label>
										<span>Joint</span>
									</li>
									<li>
										<label>Family Status</label>
										<span>Middle Class</span>
									</li>
									<li>
										<label>Ancestary/Family Origin</label>
										<span>Not specified</span>
									</li>
									<li>
										<label>Family Location</label>
										<span>Vijayawada, Ap, India</span>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Father's Status</label>
										<span>Employed</span>
									</li>
									<li>
										<label>Mother's Status</label>
										<span>Homemaker</span>
									</li>
									<li>
										<label>No. of Brothers</label>
										<span>2 / 1 married</span>
									</li>
									<li>
										<label>No. of Sisters</label>
										<span>1 / 1 married</span>
									</li>
									<li>
										<label>Living with parents</label>
										<span>Yes</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="preference-block">
						<h4>
							<img src="images/lifestyle-info-icon.png" alt="Life Style Icon">
							<span>Life Style</span>
						</h4>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Hobbies</label>
										<span>Cooking, Internet Surfing</span>
									</li>
									<li>
										<label>Language Know</label>
										<span>Telugu, Hindi, English</span>
									</li>
									<li>
										<label>Eating Habits</label>
										<span>Vegetarian</span>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<ul>
									<li>
										<label>Drinking Habits</label>
										<span>Never drinks</span>
									</li>
									<li>
										<label>Smoking Habits</label>
										<span>Never smokes</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-preview-block">
					<div class="like-intreset-block">
						<div class="row">
							<div class="col-md-2 text-center">
								<div class="like-intreset-image-block">
									<img src="images/profile-photo.png" alt="otherProfile-Image" class="img-circle">
								</div>
							</div>
							<div class="col-md-10 like-intreset-btn-block">
								<strong>Like this Profile?</strong>
								<span>Take the next step by expressing intreset</span>
								<div class="like-profile-block clearfix">
									<label>Like this Profile?</label>
									<a href="javascript:void(0)" class="yes-btn">Yes</a>
									<a href="javascript:void(0)">Not now</a>
								</div>
								<p>For quicker responses, contact this member directly through Mobile, E-mail and Chat by upgrading your membership.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- <h3 class="partner-preference-title">Profile your might interest</h3>
				<div class="profile-preview-block">
					<div>
						<ul>
							<li>
								<img src="images/.png" alt="">
								<p>SK4262876</p>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<div class="help-block text-center">
					<img src="images/help.png" alt="help">
					<h4>Need Help</h4>
					<p>Here's one click assistance!</p>
					<p>
						<a href="javascript:void(0)">Click here</a> and we will get in touch with you right away.
					</p>
					<img src="images/logo.png" alt="help">
				</div>
				<div class="update-profiles-block">
					<h4>Similar Profile</h4>
					<ul>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="update-profiles-block">
					<h4>Recent Updates</h4>
					<ul>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
						<li>
							<div class="recent-profile-image">
								<img src="images/image1.jpg" alt="profile">
								<a href="javascript:void(0)">View profile</a>
							</div>
							<div class="recent-profile-details">
								<p><span>SK4260615</span><span>(24 Yrs, 5 Ft 2 In)</span></p>
								<span>Hindu, Brahmin</span>
								<span>Vizag</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>