<footer> <!--  class="homepage-footer" -->
	<div class="container">
		<div class="footer-block clearfix">
			<div class="footer-links fleft">
				<ul>
					<li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
					<li><a href="javascript:void(0)">Privacy &amp; Policy</a></li>
					<li><a href="javascript:void(0)">Contact Us</a></li>
					<li><a href="javascript:void(0)">Blog</a></li>
				</ul>
			</div>
			<div class="footer-social-links fright">
				<span class="fleft">Follow us on</span>
				<ul class="fleft">
					<li><a href="javascript:void(0)"><img src="images/social-icons/fb-icon.png" title="facebook" alt="facebook"></a></li>
					<li><a href="javascript:void(0)"><img src="images/social-icons/twitter-icon.png" title="facebook" alt="facebook"></a></li>
					<li><a href="javascript:void(0)"><img src="images/social-icons/gplus-icon.png" title="facebook" alt="facebook"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright-block">
		<p class="no-margin text-center">Copyrights &#64;2018  <a href="index.html">Brahminshubhakalyaan.com</a></p>
	</div>
</footer>