<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="logo clearfix">
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" /></a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar" style="display: none !important">
                    <ul class="nav navbar-nav navbar-right topRIghtForm">
                        <li><span class="lebel">Email / Profile ID/ Mobile Number</span><input type="text" placeholder="Email / Profile ID/ Mobile Number"/></li>
                        <li class="resMt15"><span class="lebel">Password</span><input type="text" placeholder="Password" /><a href="javascript:void(0)" class="forgetLink">Forget Password?</a></li>
                        <li><button class="btn btn-success greenBtn btnCus">Login</button></li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 more-responses">
                    <p class="no-margin text-right">Complete your profile to get more responses</p>
                    <span class="fright"></span>
                </div>
            </div>
        </div>
    </nav>
</header>