<div class="exclusive-band partner-preference-band profile-band text-center">
	<p>Make your profile more interesting by adding more photos</p>
	<span>75% of our users feel they need at least 3 photos to send an expression of interest...Upload More</span>
</div>
<div class="container">
	<div class="row">
		<div class="partner-preference-block profile-block clearfix">
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div class="preference-block">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<div class="profile-pic-block">
								<div class="profile-image-block">
									<img src="images/profile-photo.png" alt="Profile Photo">
								</div>
								<div class="add-edit-profile-pic text-center">
									<a href="javascript:void(0)">Add/Edit Photo</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-9">
							<div class="user-title-preview-block clearfix">
								<div class="user-name-block fleft">
									<h3>Srikanth Sharma</h3>
									<span>(<strong>Profile created by myself on Oct 2017</strong>)</span>
								</div>
								<div class="preview-block fright text-center">
									<a href="javascript:void(0)">Profile Preview</a>
								</div>
							</div>
							<div class="user-details-block">
								<ul class="clearfix">
									<li>
										<label>Age</label>
										<span>29 Years 5 Months</span>
									</li>
									<li>
										<label>Height</label>
										<span>5 Ft 7 In (178 cm)</span>
									</li>
									<li>
										<label>Marital Status</label>
										<span>Never Married</span>
									</li>
									<li>
										<label>Religion</label>
										<span>Hindu</span>
									</li>
									<li>
										<label>Caste / Sub-caste</label>
										<span>Brahmin - Niyogi</span>
									</li>
									<li>
										<label>Occupation</label>
										<span>Soft. Engg</span>
									</li>
								</ul>
								<ul class="user-mobile-number">
									<li>
										<label>Mobile number</label>
										<span>
											<strong>+91-8124567893</strong>
											<label>Verfied</label>
											<a href="javascript:void(0)">Edit number</a>
										</span>
									</li>
									<li>
										<label>Place</label>
										<span>Vijayawada (AP)</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3 class="partner-preference-title">Personal Information</h3>
				<div class="preference-block">
					<h4>
						<span>About Me in my own words</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<ul>
								<li>
									<span>
										<p>I am a manager with a bachelor's degree currently working in a private sector in Vijayawada. I came from a middle class joint family background with orthodox values.</p>
										<p>Please describe me as simple, passionate and well mannered. My hobbies and interests are cooking and internet surfing.</p>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Basic details</span>
						<a href="javascript:void(0)" class="saveInfo">Save Changes</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="editView">
								<div class="info-option clearfix">
									<label class="info-option-title" for="name">Name</label>
									<div class="info-option-component bs-input col-md-12">
										<input type="text" name="name" id="name">
									</div>
								</div>
								<div class="info-option clearfix">
									<label class="info-option-title" for="age">Age</label>
									<div class="info-option-component bs-select col-md-12">
										<select name="age">
											<option>Age</option>
										</select>
									</div>
								</div>
								<div class="info-option clearfix">
									<label class="info-option-title" for="mothertounge">Mother Tounge</label>
									<div class="info-option-component bs-select col-md-12">
										<select name="mothertounge">
											<option>Telugu</option>
										</select>
									</div>
								</div>
								<div class="info-option clearfix">
									<label class="info-option-title" for="martialstatus">Martial Status</label>
									<div class="info-option-component bs-select col-md-12">
										<select name="martialstatus">
											<option>Never Married</option>
										</select>
									</div>
								</div>
							</div>
							<ul style="display: none">
								<li>
									<label>Name</label>
									<span>Srikanth Sharma</span>
								</li>
								<li>
									<label>Age</label>
									<span>29 Years</span>
								</li>
								<li>
									<label>Mother Tounge</label>
									<span>Telugu</span>
								</li>
								<li>
									<label>Height</label>
									<span>5 Ft 7 In / 170 cm</span>
								</li>
								<li>
									<label>Martial Status</label>
									<span>Never married</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="editView">
								<div class="info-option clearfix">
									<label class="info-option-title" for="profilecreatedfor">Profile created for</label>
									<div class="info-option-component bs-select col-md-12">
										<select name="profilecreatedfor">
											<option>My self</option>
										</select>
									</div>
								</div>
								<div class="info-option clearfix">
									<label class="info-option-title">Body Type:</label>
									<div class="info-option-component clearfix">
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="slim" value="slim">
											<label for="slim">Slim</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="average" value="average">
											<label for="average">Average</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="athletic" value="athletic">
											<label for="athletic">Athletic</label>
										</div>
										<div class="ct-radio-box xs-full-width">
											<input type="radio" name="bodytype" id="heavy" value="heavy">
											<label for="heavy">Heavy</label>
										</div>
									</div>
								</div>
								<div class="info-option clearfix">
									<label class="info-option-title">Weight</label>
									<div class="info-option-component bs-select col-md-12">
										<select>
											<option>Select Weight</option>
										</select>
									</div>
								</div>
							</div>
							<ul style="display: none">
								<li>
									<label>Profile created for</label>
									<span>My self</span>
								</li>
								<li>
									<label>Body Type/Complexion</label>
									<span>Slim</span>
								</li>
								<li>
									<label>Physical Status</label>
									<span>Normal</span>
								</li>
								<li>
									<label>Weight</label>
									<span>66Kgs</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Religion Information</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Religion</label>
									<span>Hindu</span>
								</li>
								<li>
									<label>Caste / Sub-caste</label>
									<span>Brahmin - Niyogi / Aruvela</span>
								</li>
								<li>
									<label>Gothrom</label>
									<span>Bharadwaj</span>
								</li>
								<li>
									<label>Star / Rassi</label>
									<span>Bharani / Mesha (Aries)</span>
								</li>
								<li>
									<label>Dosham</label>
									<span>Don't know</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Time of Birth</label>
									<span>Add Time</span>
								</li>
								<li>
									<label>Place of Birth</label>
									<span>Add Place</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Groom's Location</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Country</label>
									<span>India</span>
								</li>
								<li>
									<label>State</label>
									<span>Andhra Pradesh</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>City</label>
									<span>Vijayawada</span>
								</li>
								<li>
									<label>Citizenship</label>
									<span>Indian</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Professional Information</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Education</label>
									<span>B.Tech.</span>
								</li>
								<li>
									<label>Education in detail</label>
									<span>Not specified</span>
								</li>
								<li>
									<label>College/University</label>
									<span>Andhra University</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Employeed in</label>
									<span>Private Sector</span>
								</li>
								<li>
									<label>Annual Income</label>
									<span>Rs 9,00,000</span>
								</li>
								<li>
									<label>Occupation</label>
									<span>Manager</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Family Details</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Family Value</label>
									<span>Orthdox</span>
								</li>
								<li>
									<label>Family Type</label>
									<span>Joint</span>
								</li>
								<li>
									<label>Family Status</label>
									<span>Middle Class</span>
								</li>
								<li>
									<label>Ancestary/Family Origin</label>
									<span>Not specified</span>
								</li>
								<li>
									<label>Family Location</label>
									<span>Vijayawada, Ap, India</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Father's Status</label>
									<span>Employed</span>
								</li>
								<li>
									<label>Mother's Status</label>
									<span>Homemaker</span>
								</li>
								<li>
									<label>No. of Brothers</label>
									<span>2 / 1 married</span>
								</li>
								<li>
									<label>No. of Sisters</label>
									<span>1 / 1 married</span>
								</li>
								<li>
									<label>Living with parents</label>
									<span>Yes</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preference-block">
					<h4>
						<span>Life Style</span>
						<a href="javascript:void(0)">Edit</a>
					</h4>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Hobbies</label>
									<span>Cooking, Internet Surfing</span>
								</li>
								<li>
									<label>Language Know</label>
									<span>Telugu, Hindi, English</span>
								</li>
								<li>
									<label>Eating Habits</label>
									<span>Vegetarian</span>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<ul>
								<li>
									<label>Drinking Habits</label>
									<span>Never drinks</span>
								</li>
								<li>
									<label>Smoking Habits</label>
									<span>Never smokes</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="confirm-red-btn clearfix">
					<a href="javascript:void(0)" class="fright xs-full-width">Looks Good, Proceed</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<div class="partner-preference-tiles">
					<div class="white-tile add-details-tile">
						<h4 class="white-tile-title text-center">Add details to your profile</h4>
						<div class="add-details-options-tile clearfix">
							<img src="images/add-more-photo-camera-icon.png" alt="Photos icon">
							<span class="fleft">Add more photos now and get more responses. <strong>(+25%)</strong></span>
						</div>
						<div class="add-details-options-tile clearfix">
							<img src="images/add-more-family-details-icon.png" alt="Family Deatils icon">
							<span class="fleft">Add more family details and get more responses. <strong>(+20%)</strong></span>
						</div>
						<div class="add-details-options-tile clearfix">
							<img src="images/add-more-horoscope-details-icon.png" alt="Horoscope Details icon">
							<span class="fleft">Add horoscope and get more responses. <strong>(+15%)</strong></span>
						</div>
					</div>
					<div class="tablet-view-tiles clearfix">
						<div class="color-tiles partner-preference-tile text-center">
							<img src="images/partner-preference-tile-icon.png" alt="Horoscope Icon">
							<p>Add partner Preferences</p>
							<span>Find perfect match</span>
							<a href="javascript:void(0)">Add Preferences </a>
						</div>
						<div class="color-tiles horoscope-tile text-center">
							<img src="images/horoscope-tile-icon.png" alt="Horoscope Icon">
							<p>Add Horoscope</p>
							<span>Add horoscope details</span>
							<a href="javascript:void(0)">Add Horoscope</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>